@use "styles.scss" as styles;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  @include styles.slide-up;

  img {
    border-radius: 50%;
    max-height: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    h1 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      letter-spacing: 5px;
    }
    p {
      font-family: "Lora", serif;
      font-size: 18px;
      line-height: 1.5;
      color: #333;
      letter-spacing: 1px;
      text-align: justify;
    }
  }
}
