<div class="container">
  <div class="education-item">
    <div class="education-type">
      <h3>Government Engineering College, Thrissur</h3>
      <p>JULY 2017 - JUNE 2021</p>
      <p>B. Tech. in Electrical and Electronics Engineering</p>
    </div>
    <div class="education-explained">
      <p>
        Completed B.Tech in Electrical and Electronics Engineering from APJ
        Abdul Kalam Technological University (KTU), gaining a strong technical
        foundation and problem-solving skills essential for a career in
        technology.
      </p>
    </div>
  </div>
  <div class="education-item">
    <div class="education-type">
      <h3>Additional Academic Pursuits</h3>
      <p>JULY 2016 - JUNE 2017</p>
    </div>
    <div class="education-explained">
      <p>
        Attended entrance coaching for a year to prepare for competitive exams,
        enhancing problem-solving skills and subject knowledge in Mathematics,
        Physics, and Chemistry.
      </p>
    </div>
  </div>
  <div class="education-item">
    <div class="education-type">
      <h3>St. Thomas HSS College, Thrissur</h3>
      <p>JULY 2014 - JUNE 2016</p>
    </div>
    <div class="education-explained">
      <p>
        Completed Higher Secondary Education in the Science stream, focusing on
        Mathematics and Science, building a strong academic foundation.
      </p>
    </div>
  </div>
</div>
