@use "styles.scss" as styles;

.container {
  @include styles.slide-up;
  padding: 2rem 3rem;
  .education-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
    .education-type {
      display: flex;
      width: 40%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      h3 {
        @include styles.general-heading;
        text-align: left;
        width: 100%;
      }
      p {
        @include styles.general-text;
        text-align: left;
        width: 100%;
      }
    }
    .education-explained {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      p {
        @include styles.general-text;
        text-align: justify;
        width: 100%;
      }
    }
  }
  > div:nth-child(odd) {
    background-color:rgba(209, 230, 248, 1); /* Light blue for odd rows */
  }
  > div:nth-child(even) {
    background-color:rgba(209, 230, 248, 0.5);  /* Light blue for odd rows */
  }
}
