@use "styles.scss" as styles;

.container {
  @include styles.slide-up;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
  .company-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(209, 230, 248, 0.5);
    border-radius: 1rem;
    padding: 0 1rem;
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      gap: 1.5rem;
      h3 {
        flex-grow: 1;
        font-family: "Roboto Slab", serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        letter-spacing: 2px;
      }
      p {
        text-align: left;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        letter-spacing: 1px;
      }
      img {
        transition: transform 0.5s ease-in-out;
        &.expand {
          rotate: 180deg;
        }
      }
      &.expand {
        border-bottom: solid 1px black;
      }
    }
    .content {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 4fr;
      @media (max-width: styles.$tab-width) {
        grid-template-columns: 1fr;
        :first-child {
          padding-top: 1rem;
        }
      }
      padding: 0 1rem;
      .designation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 1rem;
        h4,
        p {
          margin: 0;
        }
      }
      ul {
        list-style-type: circle;
        text-align: justify;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: justify;
        line-height: 1.5rem;
        li {
          padding: 10px 20px;
        }
      }
    }
  }
}
